.abbutton {
    background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4 51%, #CC95C0 100%)
}

.abbutton {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    position: absolute;
    left: 42%;
    top: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.abbutton:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: rgb(0, 0, 0);
    text-decoration: none;
}